node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Environment variables
.env
.env.local
.env.*.local

# Logs and debug
*.log
npm-debug.log*

# Editor and OS
.idea
.vscode
Thumbs.db